<div class="container-fluid  coffee-container">
  <h3>El aroma mágico</h3>
  <hr/>
  <hr/>
<div class="row col-5">

  <table class=" table caption-top">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Region</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coffee of coffes">
        <th>{{coffee.id}}</th>
        <td>{{coffee.nombre}}</td>
        <td>{{coffee.tipo}}</td>
        <td>{{coffee.region}}</td>
      </tr>
    </tbody>
  </table>
</div>
<p>Total café de origen: {{origen}}</p>
<p>Total café blend: {{blend}}</p>
</div>

